/*****************************************************************************/
/* ViewReferal: Style */
/*****************************************************************************/
.view-referal {
}

.view-referal table tr th
{
	width: 200px;
	height: 40px;
}
.edit-btn
{
	width: 100px;
}